<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calfcounting">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Мои телята"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".compounds.CompoundInfo"
            android:parentActivityName=".compounds.CompoundAdverts" />
        <activity
            android:name=".compounds.CompoundAdverts"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".dayList.DayList"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".illnesses.IllnessesInfo"
            android:parentActivityName=".illnesses.Illnesses" />
        <activity
            android:name=".rations.RationInfo"
            android:parentActivityName=".rations.Rations" />
        <activity android:name=".rations.Ration" />
        <activity
            android:name=".rations.Rations"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".warehouse.FoodInfo"
            android:parentActivityName=".warehouse.WareHouse" />
        <activity
            android:name=".medkit.MedicineInfo"
            android:parentActivityName=".medkit.MedKit" />
        <activity
            android:name=".myAnimals.AnimalInfo"
            android:parentActivityName=".myAnimals.MyAnimals" />
        <activity
            android:name=".illnesses.Illness"
            android:parentActivityName=".illnesses.Illnesses" />
        <activity
            android:name=".medkit.Medicine"
            android:parentActivityName=".medkit.MedKit" />
        <activity
            android:name=".myAnimals.Animal"
            android:parentActivityName=".myAnimals.MyAnimals" />
        <activity
            android:name=".warehouse.Food"
            android:parentActivityName=".warehouse.WareHouse" />
        <activity
            android:name=".illnesses.Illnesses"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".medkit.MedKit"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".warehouse.WareHouse"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".myAnimals.MyAnimals"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>