<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calfcounting">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Мои телята"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CompoundAdverts"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DayList"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".IllnessesInfo"
            android:parentActivityName=".Illnesses" />
        <activity
            android:name=".RationInfo"
            android:parentActivityName=".Rations" />
        <activity android:name=".Ration" />
        <activity
            android:name=".Rations"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FoodInfo"
            android:parentActivityName=".WareHouse" />
        <activity
            android:name=".MedicineInfo"
            android:parentActivityName=".MedKit" />
        <activity
            android:name=".AnimalInfo"
            android:parentActivityName=".MyAnimals" />
        <activity
            android:name=".Illness"
            android:parentActivityName=".Illnesses" />
        <activity
            android:name=".Medicine"
            android:parentActivityName=".MedKit" />
        <activity
            android:name=".Animal"
            android:parentActivityName=".MyAnimals" />
        <activity
            android:name=".Food"
            android:parentActivityName=".WareHouse" />
        <activity
            android:name=".Illnesses"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MedKit"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WareHouse"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MyAnimals"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>